######################
# Project Specific
######################
/src/main/webapp/content/css/main.css
/target/www/**
/src/test/javascript/coverage/

######################
# Node
######################
jhipster-keycloak/node/
jhipster-keycloak/node_tmp/
jhipster-keycloak/node_modules/
npm-debug.log.*
/.awcache/*
/.cache-loader/*

